.seccion-turnos {
    margin: 10px 0;
    .enviar {
        transition: .3s all ease;
        background-color: transparent;
        border: 1px solid black;
        &:hover {
            color: white;
            background-color: black;
        }
    }
    #request-list {
        width: 100%;
        height: 100vh;
    }
}